@font-face {
   font-family: 'Questrial';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///home/apage/anphabe_latest/workplace/fonts/Questrial/regular.ttf') format('truetype');
}
